:root {
  /* Colors */
  --main-color: hsl(300, 43%, 22%);
  --sec-color: hsl(333, 80%, 67%);
  --hero-text: hsl(303, 10%, 53%);
  --review-text: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff: "League Spartan", sans-serif;
  --text-heading: 700 2.5rem/0.85 var(--ff);
  --text-hero: 400 1.1rem/ 1.3 var(--ff);
  --text-rating: 700 1rem/1.5 var(--ff);
  --text-reviewer-name: 700 calc(15rem / 16) / 1.1 var(--ff);
  --text-reviewer-status: 400 calc(15rem / 16) / 1.1 var(--ff);
  --text-review: 400 1rem/1.2 var(--ff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  background-color: var(--white);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: min(86%, 67rem);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.hero-heading {
  font: var(--text-heading);
  letter-spacing: -0.1rem;
  margin-bottom: 1.25rem;
}

.hero-text {
  font: var(--text-hero);
  color: var(--hero-text);
}

.ratings {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: min(100%, 27rem);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--review-text);
}

.stars {
  display: flex;
  gap: 0.5rem;
}

.rating-text {
  font: var(--text-rating);
  color: var(--main-color);
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-card {
  background-color: var(--main-color);
  border-radius: 0.5rem;
  padding: 2rem;
  height: fit-content;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;

  & img {
    border-radius: 50%;
  }
}

.reviewer-name {
  font: var(--text-reviewer-name);
  color: var(--white);
}

.reviewer-status {
  font: var(--text-reviewer-status);
  color: var(--sec-color);
}

.review-text {
  font: var(--text-review);
  color: var(--review-text);
}

@media (min-width: 1008px) {
  .container{
    gap: 5rem;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
  }

  .text-content {
    max-width: 26rem;
  }

  .hero-heading{
    font-size: 3.35rem;
  }

  .ratings{
    max-width: 36rem;
  }

  .rating-1{
    align-self: start;
  }

  .rating-2{
    margin: 0 auto;
  }

  .rating-3{
    align-self: end;
  }

  .rating {
    flex-direction: row;
    gap: 2rem;
  }

  .reviews {
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;
    height: 16rem;
  }

  .review-card:nth-child(1){
    align-self: start;
  }

  .review-card:nth-child(2){
    margin: auto 0;
  }

  .review-card:nth-child(3){
    align-self: end;
  }
}
