:root {
  /* Colors */
  --page-bg: hsl(212, 45%, 89%);
  --card-bg: hsl(0, 0%, 100%);
  --heading-color: hsl(218, 44%, 22%);
  --text-color: hsl(220, 15%, 55%);

  /* Fonts */
  --ff: "Outfit", sans-serif;
  --text-preset-1: 700 calc(22rem / 16) / 1.25 var(--ff);
  --text-preset-p: 400 calc(15rem / 16) / 1.5 var(--ff);

  /* Other */
  --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  --card-height: 31.25rem;
  --card-width: 20rem;
  --card-radius: 1.25rem;
  --image-radius: calc(var(--card-radius) / 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff);
}

body {
  background-color: var(--page-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  height: var(--card-height);
  width: var(--card-width);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-image {
  width: 100%;
  border-radius: var(--image-radius);
  margin-block-end: 0.75rem;
}

.card-content {
  margin-block: 0.5rem;
  text-align: center;

  & .card-heading {
    font: var(--text-preset-1);
    color: var(--heading-color);
  }
  & .card-desc {
    margin-block-start: 1.25rem;
    font: var(--text-preset-p);
    color: var(--text-color);
  }
}
