:root {
  /* Colors */
  --blue-600: hsl(185, 75%, 39%);
  --navy-950: hsl(229, 23%, 23%);
  --gray-500: hsl(227, 10%, 46%);
  --gray-100: hsl(225, 10%, 92%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff: "Kumbh Sans", sans-serif;
  --text-sm: 400 calc(14rem / 16) / 1 var(--ff);
  --text-md: 400 calc(18rem / 16) / 1 var(--ff);
  --text-lg: 400 calc(20rem / 16) / 1 var(--ff);
  --text-lg-bold: 700 calc(20rem / 16) / 1 var(--ff);
}
