:root{
    /* Colors */
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --text-color: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
    --white: hsl(0, 0%, 100%);

    /* Fonts */
    --ff: "Inter", sans-serif;
    --font-lg: 700 calc(22rem / 16) / 1.5 var(--ff);
    --font-md: 400 calc(18rem / 16) / 1.5 var(--ff);
    --font-sm: 400 calc(15rem / 16) / 1.5 var(--ff);
    --font-xs: 400 calc(14rem / 16) / 1.5 var(--ff);
}