:root {
  /* Colors */
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --text-color: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
  --overlay-color: hsla(276, 77%, 34%, 0.425);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff: "Inter", sans-serif;
  --ff-sec: "Lexend Deca", sans-serif;
  --font-lg: 700 calc(28rem / 16) / 1.25 var(--ff);
  --font-md: 600 calc(28rem / 16) / 1.5 var(--ff);
  --font-sm: 400 calc(15rem / 16) / 1.5 var(--ff);
  --font-xs: 300 calc(14rem / 16) / 1.5 var(--ff-sec);

  /* Lengths, gaps and radii */
  --card-margin: 5rem auto;
  --card-width-mobile: min(90vw, 25rem);
  --card-image-height-mobile: calc(var(--card-width-mobile) * (480 / 654));
  --card-radius: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.stats-card {
  margin: var(--card-margin);
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  width: var(--card-width-mobile);
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.card-image {
  position: relative;
  grid-row: 1/2;
  height: var(--card-image-height-mobile);
  background-image: url("images/image-header-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  backdrop-filter: brightness(0.7);
}

.card-content {
  display: grid;
  padding: 2rem;
  justify-items: center;
  gap: 2rem;
}

.card-copy {
  display: grid;
  gap: 1rem;

  & .card-title {
    font: var(--font-lg);
    color: var(--white);
    text-align: center;

    & span {
      color: var(--accent-color);
    }
  }
  & .card-desc {
    font: var(--font-sm);
    color: var(--text-color);
    text-align: center;
  }
}

.card-stats {
  display: grid;
  text-align: center;
  gap: 1.5rem;
}

.stat {
  & .stat-title {
    font: var(--font-md);
    color: var(--white);
  }
  & .stat-desc {
    font: var(--font-xs);
    color: var(--stat-headings);
    text-transform: uppercase;
    letter-spacing: 0.07rem;
  }
}

@media screen and (min-width: 900px) {
  .stats-card {
    grid-template-columns: 50% 50%;
    width: 70rem;
    height: fit-content;
  }

  .card-image {
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
    background-image: url("images/image-header-desktop.jpg");
  }

  .card-content {
    grid-column: 1/2;
    align-items: start;
    padding: 4rem;
    gap: 4.5rem;
    justify-items: start;

    & .card-title {
      text-align: start;
      font-size: 2.5rem;
    }
    & .card-desc {
      width: 22.75rem;
      text-align: start;
    }
  }

  .card-stats {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;

    & .stat {
      & .stat-title {
        font-size: 1.5rem;
      }
      & .stat-desc {
        font-size: 0.65rem;
      }
    }
  }
}
