:root {
  /* Primary Colors */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);

  --box-shadow: 30px 50px 35px rgba(0, 0, 0, 0.2);

  --row-gap: 1.5rem;
  --column-gap: 2rem;

  --testimonials-width: 70rem;
  --testimonial-padding: 2rem;
  --testimonial-border-radius: 0.625rem;
  --user-pic-height: 2rem;

  --ff: "Barlow Semi Condensed", sans-serif;
  --text-user-name: 500 0.875rem / 1.25 var(--ff);
  --text-user-title: 500 0.75rem / 1.25 var(--ff);
  --text-testimonial-title: 600 1.25rem / 1.25 var(--ff);
  --text-testimonial-p: 500 calc(13rem / 16) / 1.5 var(--ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--grey-100);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff);
}

main.testimonials {
  margin-block: 4rem;
  margin-inline: 2rem;
  max-width: var(--testimonials-width);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "one" "two" "three" "four" "five";
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
  align-items: stretch;

  & .testimonial {
    padding: var(--testimonial-padding);
    border-radius: var(--testimonial-border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .user {
      height: var(--user-pic-height);
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.85rem;

      & .user-pic {
        height: 100%;
        width: var(--user-pic-height);
        border-radius: 50%;

        & img {
          width: 100%;
          border-radius: 50%;
        }
      }

      & .user-desc {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .user-name {
          font: var(--text-user-name);
        }
        & .user-title {
          font: var(--text-user-title);
        }
      }
    }

    & .testimonial-title {
      font: var(--text-testimonial-title);
    }
    & .testimonial-copy {
      font: var(--text-testimonial-p);
    }
  }
}

.testimonial-1 {
  background-color: var(--purple-500);
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0 right 4rem;
  color: var(--purple-50);
  grid-area: one;

  & .user-pic img {
    border: 2px solid var(--purple-300);
  }
}

.testimonial-2 {
  background-color: var(--grey-500);
  color: var(--white);
  grid-area: two;

  & .user-title {
    color: var(--grey-200);
  }

  & .testimonial-copy {
    color: var(--grey-200);
  }
}

.testimonial-3 {
  background-color: var(--white);
  color: var(--grey-500);
  grid-area: three;
}

.testimonial-4 {
  background-color: var(--dark-blue);
  color: var(--grey-200);
  grid-area: four;

  & .user-pic img {
    border: 2px solid var(--purple-500);
  }
}

.testimonial-5 {
  background-color: var(--white);
  color: var(--grey-500);
  grid-area: five;
}

@media (min-width: 1000px) {
  main.testimonials {
    grid-template-areas:
      "one one two five"
      "three four four five"
    ;
  }
}

@media (min-width: 650px) and (max-width: 1000px) {
  main.testimonials {
    grid-template-areas:
      "one one"
      "two three"
      "four four"
      "five five"
    ;
  }
}
