:root{
    /* Colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);

    /* Fonts */
    --ff: "DM Sans", sans-serif;
    --text-p: 400 calc(18rem / 16) / 1.5 var(--ff);
}