:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --main-bg: hsla(254, 88%, 90%, 0.2);

  /* Lengths, gaps and radii */
  --campaign-border-radius: 0.625rem;

  /* Fonts */
  --ff: "DM Sans", sans-serif;
  --text-preset-1: 400 calc(63rem / 16) / 1 var(--ff);
  --text-preset-2: 600 calc(40rem / 16) / 0.85 var(--ff);
  --text-preset-3: 600 calc(32rem / 16) / 0.85 var(--ff);
  --text-p: 400 calc(18rem / 16) / 1.25 var(--ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.campaign-grid {
  margin: 2rem 1rem;
  width: 75.75rem;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas:
    "item-7 item-1 item-1 item-4"
    "item-7 item-2 item-3 item-4"
    "item-8 item-2 item-3 item-4"
    "item-8 item-6 item-5 item-5";
  gap: 2.5rem;

  & article.campaign {
    border-radius: var(--campaign-border-radius);
    overflow: hidden;

    & p {
      font: var(--text-p);
    }
    &:nth-child(1) {
      grid-area: item-1;
    }
    &:nth-child(2) {
      grid-area: item-2;
    }
    &:nth-child(3) {
      grid-area: item-3;
    }
    &:nth-child(4) {
      grid-area: item-4;
    }
    &:nth-child(5) {
      grid-area: item-5;
    }
    &:nth-child(6) {
      grid-area: item-6;
    }
    &:nth-child(7) {
      grid-area: item-7;
    }
    &:nth-child(8) {
      grid-area: item-8;
    }
  }
  & .purple-500 {
    background-color: var(--purple-500);
  }
  & .yellow-500 {
    background-color: var(--yellow-500);
  }
  & .white {
    background-color: var(--white);
  }
}

.campaign-1 {
  display: flex;
  flex-direction: column;
  grid-area: item-1;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding: 3.75rem 2rem;

  & h1 {
    font: var(--text-preset-1);
    color: var(--white);
  }
  & span {
    color: var(--yellow-500);
  }
  & .rating {
    width: 100%;
    color: var(--white);
  }
  & img {
    width: 11.5rem;
  }
}

.campaign-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;

  & img {
    width: 21.75rem;
  }
  & h2 {
    font: var(--text-preset-3);
  }
}

.campaign-3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 1.75rem;
  padding-block-start: 2rem;
  gap: 1.5rem;

  & h2 {
    font: var(--text-preset-3);
  }
  & img {
    width: 13.5rem;
  }
}

.campaign-4 {
  background-color: var(--purple-100);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  padding: 2.75rem 2.5rem;

  & h2 {
    font: var(--text-preset-3);
  }
  & img {
    width: 22.75rem;
  }
}

article.campaign.campaign-5 {
  display: flex;
  align-items: center;
  color: var(--white);
  gap: 1rem;
  padding-inline: 1.5rem;

  & img {
    width: 15rem;
  }
  & h2 {
    font: var(--text-preset-2);
    font-weight: 400;
    color: var(--white);
  }
}

.campaign-6 {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;

  & h2 {
    font: var(--text-preset-1);
    font-weight: 600;
  }
  & img {
    width: 11.5rem;
    margin-block-start: 1rem;
  }
}

.campaign-7 {
  background-color: var(--yellow-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;

  & h2 {
    font: var(--text-preset-2);

    & span {
      color: var(--purple-500);
    }
  }
  & img {
    width: 100%;
  }
}

.campaign-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  padding: 1.5rem;

  & h2 {
    font: var(--text-preset-2);
  }
  & img {
    width: 15rem;
  }
}
