@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
  font-weight: 400 500;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
  font-weight: 400 500;
  font-style: normal;
}

:root {
  /* Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  --main-bg: hsla(254, 88%, 90%, 0.2);

  /* Lengths, gaps and radii */
  --campaign-border-radius: 0.625rem;
  --grid-width: 67rem;
  --grid-gap: 2rem;

  /* Fonts */
  --ff: "DM Sans", sans-serif;
  --text-preset-1: 500 min(calc(63rem / 16), calc(2.75rem + 1vw)) / 1 var(--ff);
  --text-preset-2: 500 min(calc(40rem / 16), calc(1.8rem + 1vw)) / 0.85
    var(--ff);
  --text-preset-3: 500 min(2rem, calc(1.45rem + 1vw)) / 0.85 var(--ff);
  --text-p: 400 calc(18rem / 16) / 1 var(--ff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg);
  color: var(--black);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.campaign-grid {
  margin-block: 2.5rem;
  width: 95%;
  display: grid;
  gap: var(--grid-gap);

  & article.campaign {
    border-radius: var(--campaign-border-radius);
    overflow: hidden;

    & p {
      font: var(--text-p);
    }
    & h2 {
      letter-spacing: -0.125rem;
    }
  }
  & .campaign.purple-500 {
    background-color: var(--purple-500);
  }
  & .campaign.yellow-500 {
    background-color: var(--yellow-500);
  }
  & .campaign.white {
    background-color: var(--white);
  }
}

.campaign-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  & h1 {
    font: var(--text-preset-1);
    color: var(--white);
  }
  & span {
    color: var(--yellow-500);
  }
  & .rating {
    width: 100%;
    color: var(--white);
  }
  & img {
    width: 11.5rem;
  }
}

.campaign-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 1.75rem;

  & .image-container {
    width: max(calc(18rem + 1vw), 100%);

    & img {
      width: 110%;
    }
  }
  & h2 {
    font: var(--text-preset-3);
  }
}

.campaign-3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-inline: 1.75rem;
  padding-block-start: 2rem;
  gap: 1.5rem;

  & h2 {
    font: var(--text-preset-3);
  }
  & img {
    width: 100%;
    height: auto;
  }
  & .image-container {
    width: clamp(3.5rem, calc(200px + 1vw), 100%);
    max-height: clamp(5.35rem, calc(138px - 1vw), 8.85rem);
    overflow: hidden;
  }
}

.campaign-4 {
  background-color: var(--purple-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2.75rem 2rem;
  text-align: center;

  & h2 {
    font: var(--text-preset-3);
  }
  & .image-container {
    width: 18rem;

    & img {
      width: 100%;
      max-width: 21rem;
    }
  }
}

.campaign-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 1.5rem;
  text-align: center;
  color: var(--white);

  & img {
    width: 15rem;
  }
  & h2 {
    font: var(--text-preset-2);
    font-weight: 400;
    color: var(--white);
    width: min(calc(13rem + 1vw), 100%);
  }
}

.campaign-6 {
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;

  & h2 {
    font: var(--text-preset-1);
  }
  & img {
    width: 11.5rem;
    margin-block-start: 1rem;
  }
}

.campaign-7 {
  background-color: var(--yellow-100);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;

  & h2 {
    font: var(--text-preset-2);

    & span {
      color: var(--purple-500);
    }
  }
  & img {
    width: 11rem;
  }
}

.campaign-8 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1.5rem;

  & h2 {
    font: var(--text-preset-2);
  }
  & .img-container {
    width: 13rem;

    & img {
      width: 100%;
    }
  }
}

@media (min-width: 500px) and (max-width: 650px) {
  main.campaign-grid {
    width: 80%;
  }
  .campaign-5 {
    & h2 {
      width: 100%;
    }
  }
}

@media (min-width: 650px) and (max-width: 992px) {
  main.campaign-grid {
    width: 80%;
    max-width: 36rem;
  }

  .campaign-1 {
    grid-column: 1 / span 2;
  }

  .campaign-2 {
    grid-column: 2;
    grid-row: 2 / 3;
  }

  .campaign-3 {
    grid-row: 3;
  }

  .campaign-4 {
    grid-column: 1;
    grid-row: 2 / span 2;
    gap: 3rem;

    & .image-container {
      width: 100%;
    }
  }

  .campaign-5 {
    grid-column: 1 / span 2;
    flex-direction: row;
    justify-content: center;
  }

  .campaign-8 {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & h2 {
      width: 18rem;
    }
  }
}

@media screen and (min-width: 992px) {
  main.campaign-grid {
    grid-auto-columns: 1fr;
    grid-template-areas:
      "item-7 item-1 item-1 item-4"
      "item-7 item-2 item-3 item-4"
      "item-8 item-2 item-3 item-4"
      "item-8 item-6 item-5 item-5";

    &:nth-child(1) {
      grid-area: item-1;
    }
    &:nth-child(2) {
      grid-area: item-2;
    }
    &:nth-child(3) {
      grid-area: item-3;
    }
    &:nth-child(4) {
      grid-area: item-4;
    }
    &:nth-child(5) {
      grid-area: item-5;
    }
    &:nth-child(6) {
      grid-area: item-6;
    }
    &:nth-child(7) {
      grid-area: item-7;
    }
    &:nth-child(8) {
      grid-area: item-8;
    }
  }
}
