:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --primary-bg: rgb(250, 250, 250);

  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);

  --box-shadow: rgba(0, 0, 0, 0.1) -5px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 10px 10px 15px -3px;

  --ff: "Poppins", sans-serif;
  --text-preset-1: 200 2rem / 1 var(--ff);
  --text-preset-2: 600 2rem / 1.2 var(--ff);
  --text-preset-3: 400 1.5rem / 1.5 var(--ff);
  --text-preset-4: 400 calc(15rem / 16) / 1.5 var(--ff);

  --card-radius: 0.5rem;
  --card-accent-radius: calc(var(--card-radius) - var(--arc-dis));
  --arc-dis: calc(var(--card-radius) - var(--card-radius) / sqrt(2));
  --card-accent-width: calc(100% - 2 * var(--arc-dis));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: start;
}

body {
  background: var(--primary-bg);
  min-height: 100vh;
  margin-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: var(--ff);
  color: var(--grey-500);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  width: min(95%, 32rem);

  &h1 {
    text-align: center;
    font: var(--text-preset-1);
  }

  &h2 {
    text-align: center;
    font: var(--text-preset-2);
  }

  &p {
    text-align: center;
    font: var(--text-preset-4);
  }
}

main {
  width: min(95%, 75rem);
}

.cards-container {
  display: grid;
  grid-template-areas: "one" "two" "three" "four";
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--card-radius);

  &.card-1 {
    grid-area: one;
  }
  &.card-2 {
    grid-area: two;
  }
  &.card-3 {
    grid-area: three;
  }
  &.card-4 {
    grid-area: four;
  }
}

.card-1::before {
  content: "";
  height: calc(var(--card-radius) / 2);
  width: 100%;
  background: var(--cyan);
}

.card-2::before {
  content: "";
  height: calc(var(--card-radius) / 2);
  width: 100%;
  background: var(--red);
}

.card-3::before {
  content: "";
  height: calc(var(--card-radius) / 2);
  width: 100%;
  background: var(--orange);
}

.card-4::before {
  content: "";
  height: calc(var(--card-radius) / 2);
  width: 100%;
  background: var(--blue);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  background: var(--white);
  gap: 1.5rem;

  & .card-copy {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & p {
      font: var(--text-preset-4);
      color: var(--grey-400);
    }
  }

  & img {
    align-self: flex-end;
    margin-block-end: 1rem;
  }
}

@media (min-width: 1000px) {
  .cards-container {
    grid-template-areas:
      "one two three"
      "one four three";
  }
}

@media (max-width: 600px) {
  header {
    width: min(90%, 20rem);

    & h1,
    h2 {
      font-size: 1.5rem;
    }
  }

  main {
    width: min(90%, 22rem);
  }
}
