:root {
  --yellow: #f4d04e;
  --gray-500: #6b6b6b;
  --gray-900: #111111;
  --white: #ffffff;

  --spacing-300: 1.5rem;
  --spacing-150: 0.75rem;
  --spacing-50: 0.25rem;

  --text-preset-1: 800 min(5.5vw, 1.5rem) / 1.5 "Figtree", sans-serif;
  --text-preset-2: 500 min(3.75vw, 1rem) / 1.5 "Figtree", sans-serif;
  --text-preset-3: 500 min(3.2vw, 0.85rem) / 1.5 "Figtree", sans-serif;
  --text-preset-3-bold: 800 min(3.2vw, 0.85rem) / 1.5 "Figtree", sans-serif;

  --card-shadow: 8px 8px rgba(0, 0, 0, 1);
  --card-border: 1px solid rgba(0, 0, 0, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
}
body {
  background-color: var(--yellow);
  color: var(--gray-900);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: var(--card-border);
  border-radius: 1.25rem;
  box-shadow: var(--card-shadow);
  height: fit-content;
  width: min(87.2%, 384px);
  padding: var(--spacing-300);
  gap: var(--spacing-300);
}
.blog-image {
  width: 100%;
  height: 12.5rem;
  border-radius: calc(1.25rem - var(--spacing-300));
  background: no-repeat center/cover url("./assets/blog-image.png");
}
.blog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--spacing-150);
  width: 100%;
}
.blog-category {
  font: var(--text-preset-3-bold);
  background-color: var(--yellow);
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: var(--spacing-50);
}
.publish-date {
  font: var(--text-preset-3);
}
.blog-title {
  font: var(--text-preset-1);
}
.blog-title:hover {
    color: var(--yellow);
}
.blog-desc {
  font: var(--text-preset-2);
  color: var(--gray-500);
}
.blog-author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-150);
  width: 100%;
}
.author-name {
  font: var(--text-preset-3-bold);
}
