:root {
  /* Colors */
  --teal-700: color-mix(in lab, black 5%, var(--teal-500));
  --teal-500: hsl(179, 62%, 43%);
  --green-400: hsl(71, 73%, 54%);
  --teal-100: hsl(204, 43%, 93%);
  --grey-500: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --ff: "Karla", sans-serif;
  --text-xlg: 400 1.5rem / 1.5 var(--ff);
  --text-lg: 700 1.15rem / 1.5 var(--ff);
  --text-md: 700 0.875rem / 1.2 var(--ff);
  --text-sm: 400 0.8rem / 1.75 var(--ff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--teal-100);
  font-family: var(--ff);
}

.grid-container {
  display: grid;
  width: 85%;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 3.5rem auto;
}

.grid-child {
  padding: 1.85rem;
}

.headline {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .heading {
    color: var(--teal-700);
    font: var(--text-lg);
  }
  & .sub-heading{
    color: var(--green-400);
    font: var(--text-md);
  }
  & .desc {
    color: var(--grey-500);
    font: var(--text-sm);
  }
}
