:root {
  /* Colors */
  --teal-400: color-mix(in lab, white 15%, var(--teal-500));
  --teal-500: hsl(179, 62%, 43%);
  --green-400: hsl(71, 73%, 54%);
  --teal-100: hsl(204, 43%, 93%);
  --grey-500: hsl(218, 22%, 67%);
  --white: hsl(0, 0%, 100%);
  --signup-btn-shadow: 0px 6px 8px 2px hsla(0, 0%, 0%, 0.14);

  /* Fonts */
  --ff: "Karla", sans-serif;
  --text-xlg: 700 2rem / 1.5 var(--ff);
  --text-lg: 700 1.15rem / 1.5 var(--ff);
  --text-md: 700 1rem / 1.25 var(--ff);
  --text-sm: 400 1rem / 1.5 var(--ff);
  --text-xsm: 400 0.85rem / 1.75 var(--ff);

  /* Other */
  --grid-width-mobile: 87%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--teal-100);
  font-family: var(--ff);
  color: var(--white);
}

.grid-container {
  display: grid;
  width: var(--grid-width-mobile);
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  margin-block: 3.5rem;
}

.grid-child {
  padding: 1.5rem;
}

.headline {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .heading {
    color: var(--teal-500);
    font: var(--text-lg);
  }
  & .sub-heading {
    color: var(--green-400);
    font: var(--text-md);
  }
  & .desc {
    color: var(--grey-500);
    font: var(--text-xsm);
  }
}

.subscription {
  background-color: var(--teal-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & .sub-title {
    font: var(--text-lg);
  }
  & .sub-details {
    margin-bottom: 1rem;
    & .sub-price {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      & .price {
        font: var(--text-xlg);
      }
      & .duration {
        font: var(--text-sm);
        color: var(--teal-100);
      }
      & .sub-desc {
        font: var(--text-sm);
        color: var(--white);
      }
    }
  }
  & .sign-up {
    background-color: var(--green-400);
    box-shadow: var(--signup-btn-shadow);
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.25rem;
    color: var(--white);
    font: var(--text-md);
    text-decoration: none;
  }
}

.about {
  background-color: var(--teal-400);

  & .about-title {
    font: var(--text-lg);
    margin-bottom: 1rem;
  }
  & .about-points {
    list-style: none;

    & .about-point {
      color: var(--teal-100);
      font: var(--text-xsm);
      line-height: 1.5;
    }
  }
}
