:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--stone-100);
  color: var(--stone-600);
  font-family: 'Outfit', sans-serif;
}

h2 {
  color: var(--brown-800);
  font-family: 'Young Serif', sans-serif;
}

hr {
  color: var(--stone-150);
}

.recipe {
  background: var(--white);
}

.recipe-title {
  color: var(--stone-900);
  font-family: 'Young Serif', sans-serif;
}

.recipe-time {
  background: var(--rose-50);
}

.recipe-time > .title {
  color: var(--rose-800);
}

.nutrients > .nutrient{
    color: var(--brown-800);
}