:root {
  /* Primary Colors */
  --reaction-color: hsl(0, 100%, 67%);
  --memory-color: hsl(39, 100%, 56%);
  --verbal-color: hsl(166, 100%, 37%);
  --visual-color: hsl(234, 85%, 45%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
  --results-section-bg: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 100%, 65%)
  );
  --circle-bg: linear-gradient(
    to bottom,
    hsla(241, 72%, 46%, 0),
    hsla(256, 72%, 46%, 1)
  );
}