:root {
  /* Primary Colors */
  --reaction-color: hsl(0, 100%, 67%);
  --memory-color: hsl(39, 100%, 56%);
  --verbal-color: hsl(166, 100%, 37%);
  --visual-color: hsl(234, 85%, 45%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 90%);
  --out-of-color: hsla(241, 100%, 89%, 0.75);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
  --results-section-bg: radial-gradient(
    circle at top center,
    hsl(252, 100%, 67%) 2% 3%,
    hsl(241, 100%, 65%) 98%
  );
  --circle-bg: linear-gradient(
    to top,
    hsla(241, 72%, 46%, 0) 2%,
    hsla(256, 72%, 46%, 0.85) 98%
  );
  --button-hover-bg: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%) 2% 5%,
    hsl(241, 100%, 65%) 98%
  );

  /* Fonts */
  --ff: "Hanken Grotesk", sans-serif;
  --text-section-heading: 600 calc(24rem / 16) / 1.25 var(--ff);
  --text-p: 500 calc(18rem / 16) / 1.25 var(--ff);
  --text-score: 700 calc(70rem / 16) / 1 var(--ff);
  --text-remark: 600 calc(32rem / 16) / 1.25 var(--ff);

  /* Lengths, Radii, Gaps */
  --card-width: 43rem;
  --card-radius: 2rem;
  --score-circle-size: calc(184rem / 16);
  --section-padding: 2.2rem;
  --score-circle-padding: 2.5rem;
  --gap-xlg: 2.15rem;
  --gap-lg: 1.5rem;
  --gap-md: 0.75rem;
  --gap-s: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--pale-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: var(--card-width);
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: var(--card-radius);
}

section.results {
  background: var(--results-section-bg);
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xlg);
  border-radius: var(--card-radius);
  color: var(--white);

  & h1 {
    font: var(--text-section-heading);
    color: var(--light-lavender);
  }
}

section.results .score-circle {
  background: var(--circle-bg);
  width: var(--score-circle-size);
  height: var(--score-circle-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--score-circle-padding);
  border-radius: 50%;

  & .score {
    font: var(--text-score);
  }
  & .out-of {
    font: var(--text-p);
    color: var(--out-of-color);
  }
}

section.results .remarks {
  text-align: center;

  & h2 {
    font: var(--text-remark);
    margin-block-end: var(--gap-md);
  }
  & p {
    font: var(--text-p);
    color: var(--light-lavender);
  }
}

section.summary {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);

  & h1 {
    font: var(--text-section-heading);
    font-weight: 700;
    color: var(--dark-gray-blue);
  }
  & button {
    border: none;
    outline: none;
    width: 100%;
    padding: var(--gap-s);
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font: var(--text-p);
    border-radius: var(--card-radius);
    cursor: pointer;

    &:hover{
      background: var(--button-hover-bg);
    }
  }
}

section.summary .summary-items {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  margin-bottom: var(--gap-md);

  & .summary-item {
    display: flex;
    justify-content: space-between;
    padding: var(--gap-s);
    border-radius: calc(var(--card-radius) / 2);

    & .item-info {
      display: flex;
      gap: var(--gap-md);
      align-items: center;
    }
    & span {
      font: var(--text-p);
    }
    & span.score-number {
      color: var(--dark-gray-blue);
      font-weight: 700;
    }
    & span.out-of {
      color: var(--light-lavender);
    }
  }
}

.summary-items .reaction {
  background-color: hsla(0, 100%, 67%, 0.1);

  & .item-info {
    color: var(--reaction-color);
  }
}

.summary-items .memory {
    background-color: hsla(39, 100%, 56%, 0.1);

  & .item-info {
    color: var(--memory-color);
  }
}

.summary-items .verbal {
  background-color: hsla(166, 100%, 37%, 0.1);

  & .item-info {
    color: var(--verbal-color);
  }
}

.summary-items .visual {
  background-color: hsla(234, 85%, 45%, 0.1);

  & .item-info {
    color: var(--visual-color);
  }
}

@media (max-width: 750px) {
    main{
        grid-template-columns: 1fr;

        & section.results{
            border-start-start-radius: 0;
            border-start-end-radius: 0;
        }
    }
}