:root{
    --page-bg: hsl(212, 45%, 89%);
    --card-bg: hsl(0, 0%, 100%);

    --heading-color: hsl(218, 44%, 22%);
    --text-color: hsl(220, 15%, 55%);

    --card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Outfit', sans-serif;
}
body {
    background-color: var(--page-bg);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}
.card {
    background-color: var(--card-bg);
    border-radius: 1.25rem; 
    box-shadow: var(--card-shadow);
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.qr-image {
    width: 100%;
    border-radius: 0.625rem;
}

.card-content {
    margin-block: 0.625rem;
    padding: 0.625rem;
}
.card-content h1 {
    font-size: calc(22rem/16); 
    color: var(--heading-color);
    line-height: 1.25;
}
.card-content p {
    writing-mode: horizontal-tb;
    direction: ltr;
    margin-block-start: 1.25rem;
    font-size: calc(15rem/16); 
    color: var(--text-color);
    line-height: 1.5;
}