:root {
  /* Colours */
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);

  /* Font */
  --ff: "Manrope", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: 13px;
  background-color: var(--light-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
