:root {
  /* Colours */
  --very-dark-gray-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --gray-blue: hsl(212, 23%, 69%);
  --light-gray-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  /* Font */
  --ff: "Manrope", sans-serif;
  --font-article-title: 700 1.26em/1.5 var(--ff);
  --font-article-text: 400 1.04em/1.5 var(--ff);
  --font-author-name: 700 1.04em/1.5 var(--ff);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff);
  font-size: 13px;
  background-color: var(--light-gray-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.article-preview {
  display: flex;
  flex-direction: column;
  width: min(87%, 30rem);
  border-radius: 0.75rem;
  margin: 4rem auto;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 20px 25px 30px 10px rgba(0, 0, 0, 0.05);
}

.drawer-image {
  width: 100%;
}

.article-copy {
  padding: 0.25rem 2rem;
}

.article-title {
  color: var(--very-dark-gray-blue);
  font: var(--font-article-title);
  margin-top: 1rem;
}

.article-text {
  margin: 1rem 0;
  font: var(--font-article-text);
  color: var(--desaturated-dark-blue);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: background 0.3s ease;
}

.card-footer.active {
  background-color: #48556a; /* Dark blue from your image */
}

.card-footer.active .author-state{
  display: none;
}

.author-state{
  display: flex;
}

.author-image {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;

  & img {
    width: 100%;
    border-radius: 50%;
  }
}

.author-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.author-name{
  color: var(--very-dark-gray-blue);
  font: var(--font-author-name);
}

.publish-date{
  color: var(--gray-blue);
  font: var(--font-article-text);
}

.share-state {
  display: none;
  align-items: center;
  gap: 1rem;
}

.card-footer.active .share-state {
  display: flex;
}

.share-label{
  color: var(--gray-blue);
  letter-spacing: 0.3rem;
  font: var(--font-article-text);
  font-weight: 400;
  text-transform: uppercase;
}

.share-icons{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.share-btn {
  border: none;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  z-index: 10;
}

.card-footer.active .share-btn {
  background: var(--desaturated-dark-blue);
}

.card-footer.active .share-btn svg path {
  fill: var(--white);
}
