:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);

  --card-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.05);
  --card-radius: 0.625rem;

  --text-preset-1: 700 2em/1 "Fraunces", sans-serif;
  --text-preset-2: 700 0.875em/1.5 "Montserrat", sans-serif;
  --text-preset-3: 500 0.875em/1.5 "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--grey);
}

.card {
  background-color: var(--white);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  max-width: 580px;
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.card-image {
  flex: 1;
}

.card-image img {
  width: 100%;
  height: 100%;
  border-start-start-radius: var(--card-radius);
  border-end-start-radius: var(--card-radius);
  object-fit: cover;
}

.card-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-copy{
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
}

.card-content .card-tag {
  letter-spacing: 0.4rem;
  font-size: 0.625rem;
  font-weight: 500;
  text-transform: uppercase;
}

.card-content h1 {
  font: var(--text-preset-1);
  color: var(--black);
}

.card-description {
  font: var(--text-preset-3);
}

.card-purchase {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.card-price-current {
  font: var(--text-preset-1);
  color: var(--green-500);
}

.card-price-original{
    text-decoration: line-through;
    font-size: var(--p-size);
}

.cart-button {
  background: var(--green-500);
  width: 100%;
  color: var(--white);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  font: var(--text-preset-2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cart-button:hover{
  background: var(--green-700);
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    max-width: 90%;
  }
  .card-image img {
    width: 100%;
    border-start-end-radius: var(--card-radius);
    border-end-start-radius: 0;
  }

  .card-content {
    width: 100%;
  }
}
