:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(30, 38%, 92%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}
