:root {
  /* Colors */
  --green-500: hsl(158, 36%, 37%);
  --button-hover-color: hsl(158, 42%, 18%);
  --heading-color: hsl(212, 21%, 14%);
  --text-color: hsl(228, 12%, 48%);
  --bg: hsl(30, 38%, 92%);
  --card-bg: hsl(0, 0%, 100%);

  /* Fonts */
  --ff-p: "Montserrat", sans-serif;
  --ff-sec: "Fraunces", serif;
  --text-preset-1: 700 2em/1 var(--ff-sec);
  --text-card-button: 700 0.875em/1.5 var(--ff-p);
  --text-card-desc: 500 0.875em/1.5 var(--ff-p);
  --text-card-tag: 500 0.625em/1.5 var(--ff-p);

  /* Other */
  --card-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.05);
  --card-radius: 0.625rem;
  --card-width: calc(600rem/16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: start;
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
}

.card {
  background-color: var(--card-bg);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  max-width: var(--card-width);
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.card-image {
  width: 50%;
}

.card-image img {
  display: block;
  width: 100%;
  border-start-start-radius: var(--card-radius);
  border-end-start-radius: var(--card-radius);
  object-fit: cover;
}

.card-content {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.card-copy {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-content .card-tag {
  font: var(--text-card-tag);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.card-content h1 {
  font: var(--text-preset-1);
  color: var(--heading-color);
}

.card-description {
  font: var(--text-card-desc);
}

.card-purchase {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.card-price-current {
  font: var(--text-preset-1);
  color: var(--green-500);
}

.card-price-original {
  text-decoration: line-through;
  font: var(--text-card-desc);
}

.cart-button {
  background: var(--green-500);
  width: 100%;
  color: var(--card-bg);
  border: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font: var(--text-card-button);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  &:hover {
    background: var(--button-hover-color);
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    max-width: 90%;
  }
  .card-image img {
    width: 100%;
    border-start-end-radius: var(--card-radius);
    border-end-start-radius: 0;
  }

  .card-content {
    width: 100%;
  }
}